<!-- templates/gallery.html -->
{% extends 'base.html' %}

{% block title %}Galería - Octavio & Dafne{% endblock %}

{% block content %}
    <h2>Galería de Imágenes</h2>
    <p style="color: #fff;">Explora nuestra galería de fotos.</p>
    <div class="gallery">
        <div class="gallery-item gallery-item-1"><img src="static/images/dafne.jpg" alt="Image"></div>
        <div class="gallery-item gallery-item-2"><img src="static/images/dafne1.jpg" alt="Image 1"></div>
        <div class="gallery-item gallery-item-3"><img src="static/images/dafne2.jpg" alt="Image 2"></div>
        <div class="gallery-item gallery-item-4"><img src="static/images/dafne3.jpg" alt="Image 3"></div>
        <div class="gallery-item gallery-item-5"><img src="static/images/dafne4.jpg" alt="Image 4"></div>
        <div class="gallery-item gallery-item-6"><img src="static/images/dafne5.jpg" alt="Image 5"></div>
        <div class="gallery-item gallery-item-7"><img src="static/images/dafne6.jpg" alt="Image 6"></div>
    </div>
{% endblock %}
